<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{{ url_for('static', filename='func.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Closet</title>
    </head>

    <body>
        <div class="container">
            <h1>What is in your closet?</h1>
            <h2>Click sumbit button at the bottom <br>
                to generate outfits from whatever<br>
                 clothes you select. </h2>
            <div class="button-row">
                <button class="btn" onclick="selectAll()">Select All</button>
                <button class="btn" onclick="deselectAll()">Deselect All</button>
            </div>

            <form action="/selected" method="POST">
                {% for clothing in clothes %}
                    <input type="checkbox" name="selected_clothes" value="{{ clothing }}">
                    <label>{{ clothing }}</label>
                    <br>
                {% endfor %}
            
                <label>Event: </label>
                <input type="text" name="event">
                <button class="btn" type="submit">Get Outfit Ideas</button>
            </form>
            
            

        </div>
    </body>

</html>

